body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}
.videos{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}
video{
width:400px;
max-width:90%;
border-radius:15px;
background:black;
}
